<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div hidden class="menu-button" (click) = "toggleMenu();">
    <span class="material-icons" style = "margin-left: 40px; transform: scale(1.2);">
      list
    </span>
  </div>
  <div class="spacer"></div>
  <span style = "margin-right:70px;">Sistema de Incidentes</span>
  
</div>

<app-menu *ngIf = "menuOn"></app-menu>
<router-outlet></router-outlet>
