<div class="incidentActions">
  <span class="material-icons add-button" (click) = "openIncidentAddPanel()">
    add_box
  </span>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id Incidente</th>
        <th scope="col">Serviço</th>
        <th scope="col">Status</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let incident of incidentList">
        <th scope="row">{{incident.id}}</th>
        <td>
            {{incident.service.name}}
        </td>
        <td>
          {{incidentStatusEnumMapper.getEnumAsString(incident.status)}}
        </td>
        <td>
          {{incident.description}}
        </td>
        <td>
          <button [matMenuTriggerFor]="menu" class="action-button">
              <span class="material-icons action-button">
                keyboard_arrow_down
            </span>
          </button>
          <mat-menu xPosition="after" yPosition = "below" overlapTrigger="false" #menu="matMenu">
            <button mat-menu-item>Detalhes</button>
            <button mat-menu-item>Cancelar</button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>

<app-overlay-panel *ngIf="isAdding" title = "Abrir Incidente" (close) = "closeIncidentAddPanel()">

  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width" style="display:block;">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
    
      <mat-form-field class="example-full-width" style="display:block;">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
  </div>
</app-overlay-panel>

 

