div{
    text-align: center;
    padding:20px;
}

.cdk-mouse-focused.cdk-mouse-focused{
    border:none !important;
    outline:none;
}

.action-button{
    border:none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.incidentActions{
    text-align: right;
    .add-button{
        font-size: 35px !important;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
    }
}

.incident-add-panel{
    text-align: left;

    .form-item{
        display:block;
    }
    .file-upload-div{
        display:block;
        text-align: left;
        padding: 0px;
    }
    .send-button-div{
        display:block;
        text-align: right;
        padding: 0px;
    }
}