div{
    text-align: center;
    padding:20px;
}

.cdk-mouse-focused.cdk-mouse-focused{
    border:none !important;
    outline:none;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.action-button{
    border:none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.incidentActions{
    text-align: right;
    .add-button{
        font-size: 35px !important;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
    }
}



.div-title{
    float:left;
    position:absolute;

    .tab{
        font-size: large;
        margin-right: 10px;
        padding:20px;
        cursor: pointer;
    }
    .selected{
        font-weight: bold;
        color:white;
        background-color: rgb(25, 118, 210);
    }
    
}

.incident-add-panel{
    text-align: left;

    .form-item{
        display:block;
    }
    .file-upload-div{
        display:block;
        text-align: left;
        padding: 0px;
    }
    .send-button-div{
        display:block;
        text-align: right;
        padding: 0px;
    }
}

.incident-detail-panel{
    text-align: left;
    .form-item{
        display:block;
    }
    .send-button-div{
        display:block;
        text-align: right;
        padding: 0px;
    }
}